.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  box-sizing: border-box;
  border-bottom: lightgray solid 0.1px;
  padding: 6px 16px;
}

.headerLeft {
  display: flex;

  .headerAvatar {
    height: 49px !important;
    width: 49px !important;
  }
  div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
}

.username {
  font-size: 17px;
  font-weight: 500;
  color: black;
  margin-top: 5px;
  margin-bottom: 4px;
}

.headerRight {
  display: flex;
  width: 100px;
  justify-content: space-around;
  * {
    width: 30px !important;
    height: 30px !important;
  }
}
.lastSeen {
  font-size: 14px;
}
