.card {
  display: flex;
  align-items: flex-start;
  max-width: 1500px;
  height: 80%;
  max-height: 1000px;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.left {
  flex: 0.35;
  overflow-y: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);

  img {
    margin-bottom: 50px;
  }
  span {
    font-size: 40px;
    color: gray;
    margin-bottom: 20px;
  }
  div {
    color: gray;
    font-size: 18px;
    margin-bottom: 5px;
  }
}
