.card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.left {
  flex: 0.4;
  height: 100%;
  border-right: lightgray solid 0.1px;
  overflow-y: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 50px;
  }
  span {
    font-size: 40px;
    color: gray;
    margin-bottom: 20px;
  }
  div {
    color: gray;
    font-size: 18px;
    margin-bottom: 5px;
  }
}
