.optionBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
  padding: 8px 16px;

  .avatar {
    height: 49px !important;
    width: 49px !important;
  }
}

.options {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  * {
    height: 30px;
    width: 30px;
    color: black;
  }
}
