.middle {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: auto;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  &::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
  }
}
