.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-top: lightgray solid 0.1px;
}

.userLeft {
  display: flex;
  align-items: flex-start;

  div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
  }
  span {
    color: gray;
    margin-bottom: 4px;
  }
  .username {
    color: black;
    font-weight: 500;
    font-size: 21px;
    margin-top: 4px;
  }
  .userAvatar {
    height: 70px;
    width: 70px;
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: gray;
}
.arrowDropDown {
  visibility: hidden;
}
span {
  color: gray;
  font-size: 17px;
}
.userContainer:hover {
  background-color: rgba($color: #000000, $alpha: 0.02);
  .arrowDropDown {
    visibility: visible;
  }
}
