@import "colors";

.appBar {
  height: 300px;
  width: 100%;
  background-color: $appBarColor;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 300px;
  padding-top: 30px;
  span {
    color: $globalBackGround;
    font-weight: 400;
    font-size: 25px;
  }
}
